.navbar {
    display: flex;
    justify-content: space-between;

}

.items {
    display: flex;
}

.items > a {
    color: white;
    width:  100px;
    text-align: center;
}

.selected {
    color: #1890ff !important;
}

.extra {
    color: white;
    width:  100px;
    text-align: center;
}